nav{
    background-color: gray  ;
    color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;  
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li{
    list-style: none;
}

nav li a{
    color: white;
    text-decoration: none;
    font: bold;
    padding: 5px 8px;
}
nav li a:hover{
    text-decoration: none;
    color: purple;
}
.addEmp li a:hover{
    text-decoration: none;
    color: purple;
}
.addEmp li a{
    color: black;
    text-decoration: none;
    font: bold;
    padding: 5px 5px;
}
.addEmp li{
    list-style: none;
    border-right: 20px;
}
.searchbtn{
    margin-left: 1090px;
}
.filterbtn{
    margin-left: 1240px;
}   

.editform{
    text-align: center;
}
.class-header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.index-bg{
    background-image: url('images/fp.jpeg');
}
.card{
    /* border-radius: black; */
    background-color: transparent;
    backdrop-filter: blur(8px);
    width: 50%;
    /* align-items: center; */
    margin-left: 25%;
}
.clickbtn{
    background-color: gray;
    width: 522px;
    height: 35px;
}
.blurbg{
    background-image: url('images/fp.jpeg');
    background-color: transparent;
    backdrop-filter: blur(8px);
}
.index-bg-editEmployee{
    background-image: url('images/fp.jpeg');
    background-color: transparent;
    backdrop-filter: blur(10px);    

}
.editformlabel{
    margin-left: 90px;
}
.clickbtn-editEmp{
    background-color: gray;
    width: 140px;
    height: 35px;
}