nav{
    background-color: gray  ;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li{
    list-style: none;
}

nav li a{
    color: white;
    text-decoration: none;
    font: bold;
    padding: 5px 8px;
}
nav li a:hover{
    text-decoration: none;
    color: purple;
}
.addEmp li a:hover{
    text-decoration: none;
    color: purple;
}
.addEmp li a{
    color: black;
    text-decoration: none;
    font: bold;
    padding: 5px 5px;
}
.addEmp li{
    list-style: none;
    border-right: 20px;
}
.searchbtn{
    border-left: 1090px solid white;
}
.filterbtn{
    border-left: 1250px solid white;
}

.editform{
    text-align: center;
}